@font-face {
    font-family: pixels-16;
    src: url(/static/font/KarmaticArcade.ttf);
}

@font-face {
    font-family: pixels-8;
    src: url(/static/font/PSLCDMatrixII.ttf);
}

@font-face {
    font-family: cubic-6;
    src: url(/static/font/cubic.ttf);
}

@font-face {
    font-family: hand-eng;
    src: url(/static/font/KarmaticArcade.ttf);
}

@keyframes frame-bg {
    0% {
        background-color: #fffcf2;
        position: relative;
        bottom: 0px;

    }

    50% {
        background-color: #eb5e28;
        position: relative;
        bottom: 3px;

    }

    100% {
        background-color: #fffcf2;
        position: relative;
        bottom: 0px;
    }
}

@keyframes frame-fg {
    0% {
        color: #fffcf2;
        position: relative;
        bottom: 0px;

    }

    50% {
        color: #eb5e28;
        position: relative;
        bottom: 3px;
    }

    100% {
        color: #fffcf2;
        position: relative;
        bottom: 0px;
    }
}

@keyframes bg-fg {
    0% {
        color: #eb5e28;
    }
    50% {
        color: lawngreen;
    }
    100% {
        color: aqua;
    }
    
}

body {
    background-color: #fffcf2;
}


nav {
    background-color: #403d39;
}

a {
    text-decoration: none;
}

.pixel-16 {
    font-family: pixels-16;
}

.pixel-8 {
    font-family: pixels-8;
}

.cubics {
    font-family: cubic-6;
}

.hand-eng {
    font-family: hand-eng;
}

.frame-radius {
    border-style: solid;
    border-radius: 50px;
    border-color: #fffcf2;
    
}

.frame-radius:hover {
    border-style: solid;
    border-radius: 50px;
    border-color: #eb5e28;
    background: #fffcf2;
    animation: frame-bg 1s;

}

.logo {
    text-decoration: none;
    font-size: 20px;
    margin-top: 10px;
    color: #fffcf2;
    margin: 10px;
}

.logo:hover {
    color: #eb5e28;

}

.pxitm {
    color: #fffcf2;
    font-size: 20px;
    text-decoration: dotted;
    position: relative;

}

.pxitm:hover {
    animation: frame-fg 1s;


}

.act-item {
    position: relative;
    color: #eb5e28;
    text-decoration: dotted;
}

.act-item:hover {
    color: #fffcf2;
}

hr {
    color: #fffcf2;
    background-color: #fffcf2;
    height: 3px;
}

.scpt {
    color: pink;
    background: black;
    animation: bg-fg 1s infinite;
    padding: 20px;
    
}

.scpt:hover {
    color: #eb5e28;
    background: black;
}

.cb {
    margin: 20px;
}


