{% extends 'work_pages/style.html' %}
{% load static %}

{% block body %}

<div class="bubble-head rounded-circle">
    <a href="/">
        <img class="bubble-img" src="{% static 'pictures/home.png' %}" alt="" width="45px">
    </a>
</div>

<div align="center" class="mt-5">
    <form action="" align="center" class="d-flex flex-column align-items-center">
        <div class="regis w-50 my-form m-4 p-4" align="center">
            <div class="form-group">
                <label for="name" class="text-light mb-2">Name-Surname</label>
                <div class="input-group">
                    
                    <button id="btn-title" class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Prefix</button>
                    <div id="menu-title" class="dropdown-menu">
                        <a class="dropdown-item" href="#">Mr.</a>
                        <a class="dropdown-item" href="#">Mrs.</a>
                        <a class="dropdown-item" href="#">M.</a>
                    </div>
                    
                    <input type="text" class="form-control" id="name">
                </div>

            </div>
            <hr class="text-light">
            <div class="form-group ">
                <label for="name" class="text-light mb-2">Gender</label>
                <div class="d-flex flex-md-row justify-content-center">
                    <div class="form-check form-check-inline d-flex">
                        <input type="checkbox" class="form-check" id="radio1" value="option1">
                        <label for="radio1" class="form-check-label text-light m-2">Female</label>
                    </div>
                    <div class="form-check form-check-inline d-flex">
                        <input type="checkbox" class="form-check" id="radio2" value="option2">
                        <label for="radio2" class="form-check-label text-light m-2">Male</label>
                    </div>
                    <div class="form-check form-check-inline d-flex">
                        <input type="checkbox" class="form-check" id="radio3" value="option3">
                        <label for="radio3" class="form-check-label text-light m-2">LGBTQIA+</label>
                    </div>
                </div>
                <hr class="text-light">
                <div class="form-group">
                    <label for="email" class="text-light mb-2">E-mail</label>
                    <input type="email" class="form-control" id="email">
                    <hr class="text-light">
                </div>
                <div class="form-group">
                    <button type="reset" class="btn btn-danger">Reset</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>

            </div>
        </div>

    </form>
</div>

{% endblock body %}