@keyframes frame-bg {
    0% {
        background-color: #fffcf2;
        position: relative;
        bottom: 0px;

    }

    50% {
        background-color: #eb5e28;
        position: relative;
        bottom: 3px;

    }

    100% {
        background-color: #fffcf2;
        position: relative;
        bottom: 0px;
    }
}

@keyframes frame-fg {
    0% {
        color: #fffcf2;
        position: relative;
        bottom: 0px;

    }

    50% {
        color: #eb5e28;
        position: relative;
        bottom: 3px;
    }

    100% {
        color: #fffcf2;
        position: relative;
        bottom: 0px;
    }
}

@keyframes bg-fg {
    0% {
        color: #eb5e28;
    }

    50% {
        color: lawngreen;
    }

    100% {
        color: aqua;
    }

}


.frame-radius {
    border-style: solid;
    border-radius: 50px;
    border-color: #fffcf2;

}

.frame-radius:hover {
    border-style: solid;
    border-radius: 50px;
    border-color: #eb5e28;
    background: #fffcf2;
    animation: frame-bg 1s;

}

.logo {
    text-decoration: none;
    font-size: 20px;
    margin-top: 10px;
    color: #fffcf2;
    margin: 10px;
}

.logo:hover {
    color: #eb5e28;

}

.pxitm {
    color: #fffcf2;
    font-size: 20px;
    text-decoration: dotted;
    position: relative;

}

.pxitm:hover {
    animation: frame-fg 1s;


}



.scpt {
    color: pink;
    background: black;
    animation: bg-fg 1s infinite;
    padding: 20px;

}

.scpt:hover {
    color: #eb5e28;
    background: black;
}

.cb {
    margin: 20px;
}