{% extends 'main.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block contents %}

<div class="contents">
    <section id="slider">
        <div class="carousel slide" data-bs-ride="carousel" id="Myslider">
            <ol class="carousel-indicators">
                <button data-bs-target="#Myslider" data-bs-slide-to="0" class="active"></button>
                <button data-bs-target="#Myslider" data-bs-slide-to="1"></button>
                <button data-bs-target="#Myslider" data-bs-slide-to="2"></button>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item img-fluid active">
                    <img src={% static 'pictures/Untitled-1.png' %}>
                </div>
                <div class="carousel-item img-fluid">
                    <img src={% static 'pictures/Untitled-2.png' %}>
                </div>
                <div class="carousel-item img-fluid">
                    <img src={% static 'pictures/Untitled-3.png' %}>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <div class="worklist">
        <div class="d-flex flex-row align-content-stretch flex-wrap content-blocks" style="height: 200px;">
            <div class="p-2 m-2 bg-light border text-center">WORK-1</div>
            <div class="p-2 m-2 bg-light border text-center">WORK-1</div>
            <div class="p-2 m-2 bg-light border text-center">WORK-1</div>
        </div>
    </div>


    
   


{% endblock contents %}


