{% extends 'main.html' %}
{% load static %}
{% block title %}Students{% endblock title %}



{% block contents %}
<h1 align="center" class="pixel-16 scpt" style="margin-top: 10px;">
    <script>
        print("User");
    </script>
</h1>

<div align="center" class="mb-5">
    <form action="" align="center" class="d-flex flex-column align-items-center">
        <div class="d-flex  regis-h" align="center">
            <hr class="hr-head">
            <h2>
                <b class="pixel-8">Registration</b>
            </h2>
            <hr class="hr-head">
        </div>
        <div class="regis w-50 bg-dark m-4 p-4" align="center">
            <div class="form-group">
                <label for="name" class="text-light mb-2">Name-Surname</label>
                <div class="input-group">
                    
                    <button id="btn-title" class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Prefix</button>
                    <div id="menu-title" class="dropdown-menu">
                        <a class="dropdown-item" href="#">Mr.</a>
                        <a class="dropdown-item" href="#">Mrs.</a>
                        <a class="dropdown-item" href="#">M.</a>
                    </div>
                    <script>
                        $(function() {
                            $('#menu-title a').click(function(){
                                $('#btn-title').text($(this).text());
                            });
                        });
                    </script>
                    <input type="text" class="form-control" id="name">
                </div>

            </div>
            <hr class="text-light">
            <div class="form-group ">
                <label for="name" class="text-light mb-2">Gender</label>
                <div class="d-flex flex-md-row justify-content-center">
                    <div class="form-check form-check-inline d-flex">
                        <input type="checkbox" class="form-check" id="radio1" value="option1">
                        <label for="radio1" class="form-check-label text-light m-2">Female</label>
                    </div>
                    <div class="form-check form-check-inline d-flex">
                        <input type="checkbox" class="form-check" id="radio2" value="option2">
                        <label for="radio2" class="form-check-label text-light m-2">Male</label>
                    </div>
                    <div class="form-check form-check-inline d-flex">
                        <input type="checkbox" class="form-check" id="radio3" value="option3">
                        <label for="radio3" class="form-check-label text-light m-2">LGBTQIA+</label>
                    </div>
                </div>
                <hr class="text-light">
                <div class="form-group">
                    <label for="email" class="text-light mb-2">E-mail</label>
                    <input type="email" class="form-control" id="email">
                    <hr class="text-light">
                </div>
                <div class="form-group">
                    <button type="reset" class="btn btn-danger">Reset</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>

            </div>
        </div>

    </form>
</div>

<h1 align="center" class="pixel-8">
    <script>
        calculate(100, 'x', 5000000)
    </script>
</h1>
<p align="center">
    <script>
        multiply(12)
    </script>
</p>
<hr>

{% endblock contents %}