{% extends 'main.html' %}
{% load static %}
{% block title %}Students{% endblock title %}

{% block contents %}
<h1 align="center" class="pixel-16 scpt" style="margin-top: 10px;">
    <script>
        print("Apisit Saithong");
    </script>
</h1>
<div align="center" class="mb-5">
    <form action="">
        User Registration
        <hr>
        <table width="50%" align="center">
            <tr>
                <td>
                    <b>name</b>
                </td>
                <td><input type="text" name="fname" id=""></td>
            </tr>
            <tr>
                <td>
                    <b>Gender</b>
                </td>
                <td>
                    <div class="d-flex">
                        <div class="d-flex cb">
                            <input type="radio" name="female">
                            <p>female</p>
                        </div>
                        <div class="d-flex cb">
                            <input type="radio" name="male">
                            <p>male</p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Email</b>
                </td>
                <td>
                    <input type="email" name="" id="">
                </td>
            </tr>
            <tr>
                <td>
                    <b>Favorite Programming</b>
                </td>
                <td class="d-flex">
                    <div class="d-flex cb">
                        <input type="checkbox" name="html" id="">
                        <p>HTML</p>
                        <select name="" id="">
                            <option value="one">น้อย</option>
                            <option value="two">ปานกลาง</option>
                            <option value="tree">มาก</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="d-flex cb">
                        <input type="checkbox" name="html" id="">
                        <p>CSS</p>
                        <select name="" id="">
                            <option value="one">น้อย</option>
                            <option value="two">ปานกลาง</option>
                            <option value="tree">มาก</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="d-flex cb">
                        <input type="checkbox" name="html" id="">
                        <p>JavaScript</p>
                        <select name="" id="">
                            <option value="one">น้อย</option>
                            <option value="two">ปานกลาง</option>
                            <option value="tree">มาก</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button id="reset">reset</button>
                </td>
                <td>
                    <button id="submit">submit</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<hr>
<h1 align="center" class="pixel-8">
    <script>
        calculate(100, 'x', 5000000)
    </script>
</h1>
<p align="center">
    <script>
        multiply(12)
    </script>
</p>
<hr>

{% endblock contents %}

